ul .wrapper {
  display: flex;
  align-items: center;
}
.cart {
  position: relative;
}
.cart img {
  height: 30px;
  width: 20px;
  padding: 0 !important;
}
.count {
  position: absolute;
  top: 20px;
  left: 20px;
}
.dropdown,
.dropleft,
.dropright,
.dropup {
  list-style-type: none;
}
.dropdown a {
  color: rgba(0, 0, 0, 0.9) !important;
}
