.form-inline .form-control {
  width: 90% !important;
}
.rounded-circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.btn-secondary {
  background-color: white !important;
  color: black !important;
  margin-right: 5px;
}
nav {
  display: flex;
  justify-content: flex-end;
}
