.dropdown {
    list-style: none;
}
.dropdown a {
    color: rgba(0,0,0,.5);
}
.cart {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.cart .ant-badge {
    position: absolute;
    top: -2px;
    right: -15px;
}
.nav-item img {
    height: 30px;
    width: 20px;
    padding: 0;
}
